* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 18px;
  font-weight: 400;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #e1066f;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}
